.cart-container{
    width: 100%;
    height: 80%;
    background: linear-gradient(to top right , rgb(77, 75, 41), rgb(26, 11, 11) );
    cursor: pointer;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Inconsolata;
    font-weight: 800;
    color: rgb(255, 222, 222);
    font-size: 55px;
    box-sizing: border-box;
    border: 1px solid yellow;

    

    transform-origin: left top; /* Ustaw punkt transformacji na lewy górny róg */
    transform: 
     rotate(calc(var(--rotate)*-1deg))
                translateX(calc(var(--transformX)*1px))
                translateY(calc(var(--transformY)*1px));
    transition: 0.0s ease-in-out;

}



  .cart-menu {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: space-between; /* Rozkłada przyciski z równym odstępem */

    position: absolute;
    bottom: 0px;
  }
  
  .cart-menu button {
    outline: none;
    border: none;
    position: relative;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid;
    border-radius: 50%;
    color: rgb(246, 235, 154);
    border-color: rgb(187, 174, 22);

  }

  